/* Import Google Fonts */
@font-face {
  font-family: "Playfair Display";
  src: url("/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf")
    format("truetype");
}

/* Utility Classes for Font Styling */
.font-primary {
  font-family: "Roboto", sans-serif;
}

.font-secondary {
  font-family: "Playfair Display", serif;
}

.font-tertiary {
  font-family: "Source Sans Pro", sans-serif;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}
