@import url("reset.css");
@import url("variables.css");
@import url("fonts.css");
@import url("utilities.css");
/* Global Styles */
body {
  background-color: var(--lightest-color);
  color: var(--dark-color);
  font-size: var(--font-m);
  line-height: 1.6;
  font-family: var(--font-primary);
  width: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  line-height: 1.3;
}

p {
  font-family: var(--font-primary);
  font-weight: var(--font-light);
  font-size: var(--font-s);
  line-height: 1.4;
}

/*Header Styles*/
header {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: 0 auto;
}
.hero-image-container {
  width: 50%;
  padding: var(--padding-5);
}

.hero-image-container img {
  width: 80%;
}

/*Main styles*/

main {
  width: 80%;
  margin: 0 auto;
}

.high-level-skills {
  display: flex;
  justify-content: flex-start; /* Optional: Adds spacing between the lists */
  gap: var(--gap-2); /* Optional: Adds consistent spacing between the lists */
  width: 100%; /* Ensure the container spans the full width */
}

.lets-talk {
  color: var(--lightest-color);
}

section {
  margin-bottom: var(--margin-4);
  padding: var(--padding-4);
}

.skills-and-interests {
  display: flex;
  justify-content: center;
  gap: var(--gap-4);
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-image-container {
    width: 100%;
    order: 1;
    padding: 0;
  }

  .hero-image-container img {
    width: 100%;
    padding: 0;
  }

  main {
    width: 100%;
  }

  .skills-and-interests {
    flex-direction: column;
  }
}
